In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vgsales_6.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13353,Black & Bruised,GC,2003.0,Fighting,Vivendi Games,0.04,0.01,0.00,0.00,0.05
1,11530,Tempest 3X,PS,1995.0,Shooter,Interplay,0.04,0.03,0.00,0.01,0.08
2,4217,We Sing Encore,Wii,2010.0,Misc,Nordic Games,0.00,0.41,0.00,0.06,0.47
3,3796,Spider-Man,N64,2000.0,Action,Activision,0.43,0.09,0.00,0.01,0.53
4,58,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55
...,...,...,...,...,...,...,...,...,...,...,...
548,3345,NBA 2K8,PS2,2007.0,Sports,Take-Two Interactive,0.50,0.02,0.00,0.08,0.60
549,4948,Marvel: Ultimate Alliance,PS3,2006.0,Role-Playing,Activision,0.33,0.02,0.00,0.04,0.39
550,10150,The Fairly Odd Parents: Breakin Da Rules,XB,2003.0,Platform,THQ,0.08,0.02,0.00,0.00,0.11
551,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
552,675,Dragon Warrior Monsters,GB,1998.0,Role-Playing,Eidos Interactive,0.00,0.00,2.34,0.01,2.35

In [3]:
df.shape

(553, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          541 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     552 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.7+ KB

In [7]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,541.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,8356.207957,2006.303142,0.267107,0.163363,0.094864,0.053219,0.579150
std,4816.241394,5.474230,0.680967,0.669772,0.354527,0.187207,1.671974
min,11.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4209.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8626.000000,2007.000000,0.070000,0.020000,0.000000,0.010000,0.160000
75%,12291.000000,2010.000000,0.250000,0.100000,0.050000,0.030000,0.470000
max,16584.000000,2016.000000,9.070000,11.000000,4.160000,2.750000,24.760000

In [8]:
df.drop(columns=['JP_Sales'])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,Other_Sales,Global_Sales
0,13353,Black & Bruised,GC,2003.0,Fighting,Vivendi Games,0.04,0.01,0.00,0.05
1,11530,Tempest 3X,PS,1995.0,Shooter,Interplay,0.04,0.03,0.01,0.08
2,4217,We Sing Encore,Wii,2010.0,Misc,Nordic Games,0.00,0.41,0.06,0.47
3,3796,Spider-Man,N64,2000.0,Action,Activision,0.43,0.09,0.01,0.53
4,58,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,0.29,10.55
...,...,...,...,...,...,...,...,...,...,...
548,3345,NBA 2K8,PS2,2007.0,Sports,Take-Two Interactive,0.50,0.02,0.08,0.60
549,4948,Marvel: Ultimate Alliance,PS3,2006.0,Role-Playing,Activision,0.33,0.02,0.04,0.39
550,10150,The Fairly Odd Parents: Breakin Da Rules,XB,2003.0,Platform,THQ,0.08,0.02,0.00,0.11
551,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.01
552,675,Dragon Warrior Monsters,GB,1998.0,Role-Playing,Eidos Interactive,0.00,0.00,0.01,2.35

In [9]:
df = df.replace({'NA_Sales' : 0.04}, 1)
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13353,Black & Bruised,GC,2003.0,Fighting,Vivendi Games,1.00,0.01,0.00,0.00,0.05
1,11530,Tempest 3X,PS,1995.0,Shooter,Interplay,1.00,0.03,0.00,0.01,0.08
2,4217,We Sing Encore,Wii,2010.0,Misc,Nordic Games,0.00,0.41,0.00,0.06,0.47
3,3796,Spider-Man,N64,2000.0,Action,Activision,0.43,0.09,0.00,0.01,0.53
4,58,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55
...,...,...,...,...,...,...,...,...,...,...,...
548,3345,NBA 2K8,PS2,2007.0,Sports,Take-Two Interactive,0.50,0.02,0.00,0.08,0.60
549,4948,Marvel: Ultimate Alliance,PS3,2006.0,Role-Playing,Activision,0.33,0.02,0.00,0.04,0.39
550,10150,The Fairly Odd Parents: Breakin Da Rules,XB,2003.0,Platform,THQ,0.08,0.02,0.00,0.00,0.11
551,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
552,675,Dragon Warrior Monsters,GB,1998.0,Role-Playing,Eidos Interactive,0.00,0.00,2.34,0.01,2.35

In [19]:
df.isnull().mean()*100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            2.169982
Genre           0.000000
Publisher       0.000000
NA_Sales        0.000000
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

In [15]:
df = df.replace({'Publisher' : np.nan}, 'Sanya')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13353,Black & Bruised,GC,2003.0,Fighting,Vivendi Games,1.00,0.01,0.00,0.00,0.05
1,11530,Tempest 3X,PS,1995.0,Shooter,Interplay,1.00,0.03,0.00,0.01,0.08
2,4217,We Sing Encore,Wii,2010.0,Misc,Nordic Games,0.00,0.41,0.00,0.06,0.47
3,3796,Spider-Man,N64,2000.0,Action,Activision,0.43,0.09,0.00,0.01,0.53
4,58,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55
...,...,...,...,...,...,...,...,...,...,...,...
548,3345,NBA 2K8,PS2,2007.0,Sports,Take-Two Interactive,0.50,0.02,0.00,0.08,0.60
549,4948,Marvel: Ultimate Alliance,PS3,2006.0,Role-Playing,Activision,0.33,0.02,0.00,0.04,0.39
550,10150,The Fairly Odd Parents: Breakin Da Rules,XB,2003.0,Platform,THQ,0.08,0.02,0.00,0.00,0.11
551,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
552,675,Dragon Warrior Monsters,GB,1998.0,Role-Playing,Eidos Interactive,0.00,0.00,2.34,0.01,2.35

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          541 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     553 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.7+ KB

In [17]:
publisher = df.groupby(['Publisher', 'Year'])['Name'].value_counts()
print("Игры, выпущенные несколько раз одним и тем же издателем\n", publisher.where(publisher > 1).dropna())

Игры, выпущенные несколько раз одним и тем же издателем
 Publisher              Year    Name
Acclaim Entertainment  2002.0  All-Star Baseball 2003                2.0
Activision             2006.0  Marvel: Ultimate Alliance             2.0
                       2007.0  Tony Hawk's Proving Ground            3.0
                       2008.0  Kung Fu Panda                         2.0
                       2012.0  Skylanders Giants                     2.0
Atlus                  2006.0  Jinsei Game DS                        2.0
Codemasters            2008.0  Turning Point: Fall of Liberty        2.0
                       2011.0  DiRT 3                                2.0
Idea Factory           2011.0  Hakuouki: Zuisouroku DS               2.0
Imax                   1993.0  Super Mahjong 2: Honkaku 4Jin Uchi    2.0
Midway Games           2002.0  Spy Hunter                            2.0
Rising Star Games      2011.0  BIT.TRIP SAGA                         2.0
Take-Two Interactive   2005.0  World Poker Tour                      2.0
ValuSoft               2011.0  Voodoo Chronicles: First Sign         2.0
Name: count, dtype: float64

In [18]:
df.to_csv('vgsales6_p4.csv', index=False)